{
  "openapi": "3.0.3",
  "info": {
    "title": "URL Metadata API",
    "description": "Extract page title, Open Graph tags, favicon, and metadata from any URL.\n\nPass any URL and get a clean JSON response with all available metadata. No authentication required.\n\nPerfect for:\n- Link previews in messaging apps and forums\n- Social media card generation\n- Content aggregation and bookmarking\n- SEO analysis",
    "version": "1.0.0",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://cwuievigjw7pbixvhoe4nyxcku0hnfku.lambda-url.us-east-1.on.aws",
      "description": "Production"
    }
  ],
  "paths": {
    "/metadata": {
      "get": {
        "summary": "Get URL metadata",
        "description": "Fetch structured metadata from any public URL. Returns title, description, OG image, favicon, site name, type, and more.",
        "operationId": "getMetadata",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "The URL to extract metadata from (URL-encoded)",
            "schema": {
              "type": "string",
              "format": "uri",
              "example": "https://github.com"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Metadata extracted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetadataResponse"
                },
                "example": {
                  "url": "https://github.com",
                  "resolved_url": "https://github.com",
                  "title": "GitHub · Change is constant. GitHub keeps you ahead.",
                  "description": "Join the world's most widely adopted, AI-powered developer platform...",
                  "image": "https://images.ctfassets.net/.../GH-Homepage-Universe-img.png",
                  "favicon": "https://github.githubassets.com/favicons/favicon",
                  "site_name": "GitHub",
                  "type": "object",
                  "keywords": null,
                  "status": 200,
                  "cached": false,
                  "timestamp": "2026-05-31T14:52:01.406Z"
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid url parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Failed to fetch the URL (timeout, DNS error, etc.)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/": {
      "get": {
        "summary": "Health check",
        "description": "Check if the API is running.",
        "operationId": "healthCheck",
        "responses": {
          "200": {
            "description": "API is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "service": { "type": "string", "example": "url-metadata-api" },
                    "version": { "type": "string", "example": "1.0.0" },
                    "status": { "type": "string", "example": "running" }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "MetadataResponse": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "The URL that was requested",
            "example": "https://github.com"
          },
          "resolved_url": {
            "type": "string",
            "description": "Final URL after redirects (if any)",
            "example": "https://github.com"
          },
          "title": {
            "type": "string",
            "nullable": true,
            "description": "Page title from the <title> tag",
            "example": "GitHub · Change is constant. GitHub keeps you ahead."
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Meta description or Open Graph description",
            "example": "Join the world's most widely adopted, AI-powered developer platform..."
          },
          "image": {
            "type": "string",
            "nullable": true,
            "description": "Open Graph image URL (social preview thumbnail)",
            "format": "uri",
            "example": "https://example.com/image.png"
          },
          "favicon": {
            "type": "string",
            "description": "Favicon URL (always resolved, falls back to /favicon.ico)",
            "format": "uri",
            "example": "https://github.githubassets.com/favicons/favicon"
          },
          "site_name": {
            "type": "string",
            "nullable": true,
            "description": "Open Graph site name",
            "example": "GitHub"
          },
          "type": {
            "type": "string",
            "nullable": true,
            "description": "Open Graph type (website, article, video.other, etc.)",
            "example": "object"
          },
          "keywords": {
            "type": "string",
            "nullable": true,
            "description": "Meta keywords, comma-separated",
            "example": "github, developer, software, open source"
          },
          "status": {
            "type": "integer",
            "description": "HTTP status code returned by the fetched URL",
            "example": 200
          },
          "cached": {
            "type": "boolean",
            "description": "Whether the result was served from cache",
            "example": false
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp of when the metadata was fetched",
            "example": "2026-05-31T14:52:01.406Z"
          }
        },
        "required": ["url", "resolved_url", "title", "description", "image", "favicon", "site_name", "type", "keywords", "status", "cached", "timestamp"]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message describing what went wrong",
            "example": "Missing required query parameter: url"
          }
        },
        "required": ["error"]
      }
    }
  }
}
